<!-- This is a comment -->
<!-- Changed id in the header and changed the author ref -- left everything else alone. -->

<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "org.mitre4.HelloWorld"
        version     = "1.0.0" >

    <name>Hello World</name>

    <description>
        A hello world example app.
    </description>

    <author href="https://github.com/kdavis2015/HelloWorld.git" email="kdavis@mitre.org">
        Kevin Davis
    </author>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />

	<gap:platform name="ios" />
	<gap:platform name="android" />


    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19" />


</widget>